.mainFrame {
  width: 100%;
  position: absolute;
  height: calc(100% - 90px);
  border: none;
  z-index: -1;
}

.mainFrameBG {
  background-color: #272727;
  width: 100%;
  position: absolute;
  height: calc(100% - 90px);
}

.mainFrameBGInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #dbd5af;
}
