body {
  font-family: 'Rajdhani', Microsoft JhengHei, sans-serif;
}

a {
  color: #222222;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: #222222;
  text-decoration: none;
}

div {
  transition: all 0.5s;
}

img {
  transition: all 0.5s;
}
